:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --white-color: #ffffff;
  --accent-color: #2196f3;
  --contact-color: rgba(255, 255, 255, 0.6);
  --primary-background-color: #e5e5e5;
  --secondary-background-color: #f5f4fa;
  --third-background-color: #2f303a;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  display: block;
}

.page {
  background-color: #ffffff;
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

ul {
  list-style: none;
  text-decoration: none;
}

/*---header---*/

.page-header {
  background-color: var(--white-color);
border-bottom: 1px solid #ECECEC;
padding-top: 24px;
padding-bottom: 24px;
}

.main-nav {
  display: flex;
  align-items: center;
}

.logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  margin-right: 93px;
}

.accent {
  color: var(--primary-text-color);
  font-family: Raleway, sans-serif;
  text-decoration: none;
}

.site-nav {
  display: flex;
}

.site-nav {
  margin-top: 0;
  margin-bottom: 0;
}

.site-nav .item + .item {
  margin-left: 50px;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.site-nav,
.link {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding: 0px;
}

.contact .link {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.contact-list {
  padding: 0px 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  display: flex;
}

.contact-list .item + .item {
  margin-left: 50px;
}

.contact-list .link:hover,
.contact-list .link:focus {
  color: var(--accent-color);
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
}

.header-contact {
  fill: currentColor;
  margin-right: 10px;
}

.header-contact:hover, 
.header-contact:focus {
  fill: var(--accent-color);
}


.link .icon {
  display: flex;
  justify-content: center;
  align-items: center
}


/*---main---*/

.hero {
  background-image: url('../images/hero.jpg');
  background-repeat: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), no-repeat;
  background-position: center;
  background-size: auto;
  background-color: var(--third-background-color);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  height: 600px;
}

.hero-title {
  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.5;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
  width: 696px;
}

.section-one {
  padding-top: 94px;
}

.package{
  width: 270px;
  height: 120px;
  background: #F5F4FA;
border-radius: 4px;
margin-bottom: 30px;
display: flex;
align-items: center;
justify-content: center;
}

.package:hover,
.package:focus {
  border: 2px solid var(--accent-color);
}

.section-two {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-three {
  background-color: #F5F4FA;
  padding-top: 94px;
  padding-bottom: 94px; 
}

.social-links {
  display: flex;
  justify-content:space-between;
  align-items: center;
  width: 206px;
  height: 44px;
  padding: 0;
  margin-right: auto;
  margin-left: auto;
}

.social-links-item {
  display: flex;
  justify-content: center;
  width: 44px;
  height: 44px;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color var(--white-color)
}

.social-links-icon {
  width: 20px;
  height: 20px;
  fill: #AFB1B8;
}

.links:hover,
.links:focus {
  background-color: var(--accent-color);
}

.links:hover .social-links-icon,
.link:focus .social-links-icon {
  fill: #ffffff;
}

.social-links .social-links-item+.social-links-item {
  margin-left: 10px;
}

.section-four {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-five {
  padding-top: 94px;
  padding-bottom: 94px;
}

.client-lists {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content:center;
  padding: 0;
  margin: 0;
}

.client-lists-item {
  width: 170px;
  height: 92px;
  border: 1px solid #AFB1B8;
box-sizing: border-box;
border-radius: 4px;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;
}

.client-lists-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.client-lists-item .client:hover,
.client-lists-item .client:focus {
  fill: var(--accent-color);
  border-color: 4px solid var(--accent-color);
}

.client-lists-item:hover,
.client-lists-item:focus {
  border: 2px solid var(--accent-color);
}

.client {
  width: 106px;
  height: 60px;
  fill: #AFB1B8;
}

.client-lists-item+.client-lists-item {
  margin-left: 30px;
}

/*-Portfolio-*/

.section-title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.offers {
  background: #ffffff;
  box-sizing: border-box;
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  text-decoration: none;
}

.offers:nth-child(3n) {
  margin-right: 0px;
}

.offers:nth-last-child(-n + 3) {
margin-bottom: 0;
}

.article {
  padding: 20px 24px;
  border-right: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
  
}

.offers:hover {
  border: 1px solid var(--accent-color);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.table {
  display: flex;
  flex-wrap: wrap;
padding: 0;
margin: 0;
}

.section-title-advertising {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  width: 270px;
  margin-top: 0;
  margin-bottom: 10px;
}

.section-advertising {
  display: flex;
  justify-content: space-around;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.advertising {
  width: 270px;
}

.section-advertising .advertising + .advertising {
  margin-left: 30px;
}

.section-title-center,
.centered {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
}

.section-title-center-team {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}

.section-img {
  display: flex;
  margin: 0;
  padding: 0;
}

.section-img .depict + .depict {
  margin-left: 30px;
}

/*-------TEAM-------*/

.section-team {
  display: flex;
  padding: 0;
  margin: 0;
}

.section-team .team + .team {
  margin-left: 30px;
}

.team {
  width: 270px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}


.data-staff {
  padding-top: 30px;
  padding-bottom: 30px;
}

.name-igor {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  
}

.section-text-igor {
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
}

.name-olga {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.section-text-olga {
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
}

.name-niki {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  /8margin: 0px 0px 10px 0px;*/
}

.section-text-niki {
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
}

.name-mike {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.section-text-mike {
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
}

.section-text-advertising {
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.41;
  margin-top: 0;
}


/*-----BUTTON-------*/


.button {
  color: var(--primary-text-color);
  background-color: var(--secondary-background-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  border-radius: 4px;
  border: 0px solid transparent;
  padding: 6px 22px;
}

.button:hover,
.button:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
  border: 2px solid var(--accent-color)
}

.button.primary {
  color: var(--white-color);
  font-family: inherit;
  background-color: var(--accent-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  cursor: pointer;
  padding: 6px 22px;
  width: 73px;
}

.hero-button.primary {
  color: var(--white-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 4px;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0px solid transparent;
}

.btn {
  display: flex;
  margin-bottom: 56px;
  justify-content: center;
}

.btn .push + .push {
  margin-left: 8px;
}

.style {
  margin-top: 0;
  margin-bottom: 50px;
  padding-left: 0;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/*---footer---*/

.logo-footer {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  margin-bottom: 20px;
  display: block;
}

.basement {
  background-color: var(--third-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.geo {
  color: var(--white-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  width: 231px;
  margin-bottom: 9px;
}

.location {
  padding-bottom: 9px;
}

.geo:hover,
.geo:focus {
  color: var(--accent-color);
}

.basement-link {
  color: var(--contact-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.basement-link:hover,
.basement-link:focus {
  color: var(--accent-color);
}

.emphasis {
  margin-top: 60px;
  margin-bottom: 20px;
}

.emphasis {
  color: var(--white-color);
  font-family: Raleway, sans-serif;
  text-decoration: none;
}

.contact, .list-basement {
padding: 0;
margin: 0;
}

.hookup:not(:last-child) {
margin-bottom: 9px;
}

.find {
  display: flex;
  justify-content: flex-start;
}

.join {
  Font: Roboto;
Weight: 700;
Style: normal;
Size: 14px;
Line height: 1,17;
Letter: 3%;
color: #FFFFFF;
}

.footer .join {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  min-width: 206px;
  margin-left: 70px;
  margin-top: 12px;
}

.join-text {
  margin-bottom: 20px;
}

.footer+.footer {
  margin-left: 70px;
}

.footer-social-links {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.footer-social-links-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
}

.reference {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  cursor: pointer;
  color: #FFFFFF;
  background: rgba(255, 255, 255, 0.1);
}

.reference:hover,
.reference:focus {
  background-color: var(--accent-color);
}

.reference:hover .social-links-icon,
.reference:focus .social-links-icon {
  fill: #ffffff;
}

.footer-social-links-item+.footer-social-links-item {
  margin-left: 10px;
}

