:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --white-color: #ffffff;
  --accent-color: #2196f3;
  --contact-color: rgba(255, 255, 255, 0.6);
  --primary-background-color: #e5e5e5;
  --secondary-background-color: #f5f4fa;
  --third-background-color: #2f303a;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  display: block;
  /* margin-bottom: 94px; */
  /* padding-bottom: 94px; */
}

.page {
  background-color: #ffffff;
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

ul {
  list-style: none;
  text-decoration: none;
}

/*---header---*/

.page-header {
  background-color: var(--white-color);
}

.main-nav {
  display: flex;
  align-items: center;
}

.logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  width: 145px;
  margin: 24px 93px 25px 0px;
}

.accent {
  color: var(--primary-text-color);
  font-family: Raleway, sans-serif;
  text-decoration: none;
}

.emphasis {
  color: var(--white-color);
  font-family: Raleway, sans-serif;
  text-decoration: none;
}

.site-nav {
  display: flex;
}

.site-nav {
  margin-top: 0;
  margin-bottom: 0;
}

.site-nav .item + .item {
  margin-left: 50px;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.site-nav,
.link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  /*margin-top: 32px;*/
  /*margin-right: 50px;*/
  /*margin-bottom: 32px;*/
  padding: 0px;
}

.item {
  padding-top: 32px;
  padding-bottom: 32px;
  /*display: block;*/
}

.contact .link {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.contact-list {
  padding: 0px 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  display: flex;
}

.contact-list .item + .item {
  margin-left: 50px;
}

.contact .link:hover,
.contact .link:focus {
  color: var(--accent-color);
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  outline: 2px solid tomato;
}

/*---main---*/

.hero {
  background-color: var(--third-background-color);
  text-align: center;
}

.hero-title {
  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.5;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 200px;
  width: 696px;
}

.section-title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.section-title-advertising {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  width: 270px;
  margin-top: 0;
  margin-bottom: 10px;
}

.section-advertising {
  margin-top: 0;
  padding-left: 0;
}

.section-title-center,
.centered {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  /*--width: 376px;--*/
  margin-top: 0;
  margin-bottom: 50px;
}

.img {
  padding-bottom: 94px;
}

.section-title-center-team {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  /*-- width: 264px;--*/
  /*--margin-top: 94px;--*/
  margin-bottom: 50px;
  padding-top: 94px;
}

.section-img {
  margin: 0;
  padding: 0;
}

.section-team {
  margin: 0;
  padding: 0px 0px 94px 0px;
}

.team {
  width: 270px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.img-igor,
.img-olga,
.img-niki,
.img-mike {
  margin-bottom: 30px;
}

.name-igor {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  /*--width: 151px;--*/
  margin: 0px 0px 10px 0px;
}

.section-text-igor {
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  /*--width: 130px;--*/
  /* margin: 0px 0px 0px 0px; */
  padding-bottom: 30px;
  text-align: center;
}

.name-olga {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  /*--width: 109px;--*/
  margin: 0px 0px 10px 0px;
}

.section-text-olga {
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  width: 147px;
  margin: 0px 61px 00px 62px;
  padding-bottom: 30px;
}

.name-niki {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  /*-- width: 137px;--*/
  margin: 0px 0px 10px 0px;
}

.section-text-niki {
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  width: 76px;
  margin: 0px 97px 0px 97px;
  padding-bottom: 30px;
}

.name-mike {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  /*--width: 134px;--*/
  margin: 0px 0px 10px 0px;
}

.section-text-mike {
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  width: 87px;
  margin: 0px 91px 0px 92px;
  padding-bottom: 30px;
}

.section-text-advertising {
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.41;
  width: 270px;
  margin-top: 0;
  /* margin-bottom: 94px; */
  padding-bottom: 94px;
}

.button {
  color: var(--primary-text-color);
  background-color: var(--secondary-background-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  border-radius: 4px;
  border: 0px solid transparent;
  padding: 6px 22px;
}

.button:hover,
.button:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}

.button.primary {
  color: var(--white-color);
  font-family: inherit;
  background-color: var(--accent-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  cursor: pointer;
  padding: 6px 22px;
  width: 73px;
}

.hero-button.primary {
  color: var(--white-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 4px;
  margin-bottom: 200px;
  padding: 10px 0px;
  width: 200px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0px solid transparent;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/*---footer---*/

.logo-footer {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  width: 145px;
  margin: 60px 0px 20px;
}

.basement {
  background-color: var(--third-background-color);
}

.geo {
  color: var(--white-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  width: 231px;
  margin: 20px 0px 9px 0px;
}

.geo:hover,
.geo:focus {
  color: var(--accent-color);
}

.contact,
.list-basement {
  margin: 0;
  padding: 0;
}

.basement-link,
.mail {
  margin-bottom: 9px;
}

.basement-link,
.phone {
  margin-bottom: 60px;
}

.basement-link {
  color: var(--contact-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.basement-link:hover,
.basement-link:focus {
  color: var(--accent-color);
}

/* .container-footer {
  width: 1170px;
  padding: 60px 15px;
} */

.emphasis {
  margin-top: 60px;
  margin-bottom: 20px;
}
