:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --white-color: #ffffff;
  --accent-color: #2196f3;
  --contact-color: rgba(255, 255, 255, 0.6);
  --primary-background-color: #e5e5e5;
  --secondary-background-color: #f5f4fa;
  --third-background-color: #2f303a;
}

.page {
  background-color: #e5e5e5;
  color: var(--primary-text-color);
}

ul {
  list-style: none;
}

.logo {
  color: var(--accent-color);
}

.accent {
  color: var(--primary-text-color);
}

.site-nav .link {
  color: var(--primary-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.contact .link {
  color: var(--secondary-text-color);
}

.contact .link:hover,
.contact .link:focus {
  color: var(--accent-color);
}

.hero-title {
  color: var(--primary-text-color);
}

.section-title,
.name {
  color: var(--primary-text-color);
}

.section-text {
  color: var(--secondary-text-color);
}

.button {
  color: var(--primary-text-color);
  background-color: var(--secondary-background-color);
}

.button.primary {
  color: var(--white-color);
  background-color: var(--accent-color);
}

.basement {
  background-color: var(--third-background-color);
}

.geo {
  color: var(--white-color);
}
